main {
  background-color: #EEEEEE;
  margin: 20px auto;
  padding: 25px;
  font-family: sans-serif;
}

#header {
  text-align: center;
}

#image {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

#tribute-info {
  width: 60%;
  margin: 50px auto;
  max-width: 600px;
}

span {
  font-weight: bold;
  float: left;
  padding-right: 5px;
}

li {
  margin: 15px;
  line-height: 1.4;
}

blockquote {
  font-style: italic;
}

.endOfPage {
  font-weight: bold;
  max-width: 1000px;
  padding: 20px auto;
  text-align: center;
}

a:link {
  font-size: 1.2rem;
  text-decoration: none;
}

a:visited {
  color: green;
}

a:hover {
  color: #DC5F00;
}
